# Ignorer les fichiers de configuration sensibles
.env

# Cache Python
__pycache__/
*.pyc
# Base de données locale
bdd/
*.sqlite3
# Fichiers de log
*.log
# Dossiers/paramètres IDE
.vscode/
.idea/

*.pid
*.sock
# Virtualenv
venv/
.env/
